html,
body {
    min-height: 100%;
}

html {
    height: 1px;
}

.ih-1 {
    height: 1px
}

.min-h-85 {
    min-height: 85%;
}

/*NAVBAR*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    color: black;
    bottom: 0;
    box-shadow:0 0 8px 2px rgba(0,0,0,.15);
    font-size: 15px;
    border-top: 2px solid rgba(142,153,243, 0.4);
}

.navbar-list li a{
	width: 70px;
}

.active {
	color: #8e99f3;
	font-size: 16px;
	font-weight: 800;
}

.search-form {
    border-color: #8e99f3;
}

.primary {
    color: #8e99f3;
}

.primary-btn {
    background-color: #8e99f3;
    color: black;
}

.secondary {
    color: #5c6bc0;
}

.secondary-btn {
    background-color: #5c6bc0;
    color: black;
}
/*NAVBAR TOGGLES*/
.max-height-menu-0 {
    max-height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}
.max-height-menu-0 div{
    opacity: 0;
    transition: 0.2s ease;
}

.max-height-menu-full {
    max-height: 70vh;
    transition: 2s ease-out;
}

.max-height-menu-full div {
    opacity: 1;
    transition: 0.9s ease;
}

/*PRODUCT CARDS*/
.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.no-border-top {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}


.prod-card-btn {
    background-color: #8e99f3;
    background-image: linear-gradient(45deg, #5c6bc0 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 500ms ease-in-out;
    padding-left: 20px;
}

.prod-card-btn:hover {
    background-position: 0;
    color: white;
}
